/* * selector will select everything */
* {
  color: red;
}

/* div, p are element selectors */
div {
  margin-left: 30px;
}

p {
  font-size: 30px;
}

/* to select id we use # */
/* #p1, #p2 are id selectors */
/* because we use p1 and p2 id from index.html */
#p1 {
  font-family:'Courier New', Courier, monospace;
}

#p2 {
  margin-left: 40px;
}

/* to select classes we use . */
/* .osmpara and .bigpara are class selectors */
.osmpara {
  background-color: lightblue;
}

.bigpara {
  font-size: 50px;
}