/* 
We can write css in 3 places 
- in another css file
- inside head of html using style tag 
- along with the html tag using style attribute
*/

/* Precedence order */
/* id > class > element > * */

* {
  background-color: lightblue;
}

div {
  background-color: bisque;
}

.cl1 {
  background-color: lightcoral;
}

#id1 {
  background-color: lightgreen;
}

/* 
If we repeat the same property with same element or id or class 
then the value written after will take the precedence
*/

#id1 {
  background-color: lightpink;
}