:root {
  --speed: 5;
}

.machine {
  background-color: peru;
  height: 290px;
  width: 880px;
  border: 3px dotted brown;
  margin: 20px;
  display: flex;
}

#inpSpeed {
  font-size: 30px;
  margin: 20px;
  width: 60px;
}

.slot {
  height: 250px;
  width: 250px;
  margin: 20px;
  background-color: beige;
  border: 2px solid darkblue;
  text-align: center;
  font-size: 80px;
  line-height: 225px;
  overflow: hidden;
}

.slot .value {
  animation-name: slotspin;
  /* animation-iteration-count: infinite; */
  animation-iteration-count: 1;
  animation-duration: calc(4s / var(--speed));
}

@keyframes slotspin {
  0% {
    transform: translateY(-150px);
  }

  100% {
    transform: translateY(230px);
  }
}