li {
  font-weight: bold;
}

/* A > B : B is the direct child of A */
ul > li {
  color: blue;
}

ol > li {
  color: red;
}

/* A B : B is the descendant of A */
ul ul {
  font-style: italic;
}

/* A + B : B is immediate next sibling of A */
ol + ul {
  background-color: greenyellow;
}

/* A ~ B : B is any of the next sibling of A */
ol ~ ul {
  background-color: aliceblue;
}