.box {
  width: 100px;
  height: 100px;
  margin: 30px;
  background-color: brown;
}

@media (max-width: 700px) {
  .box {
    background-color: pink;
  }
}

@media (max-width: 500px) {
  .box {
    background-color: green;
  }
}

