<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add a person</h1>
  <form action="/pages/add" method="POST">
    <input type="text" name="name" placeholder="name" id=""> <br>
    <input type="number" name="age" placeholder="age" id=""> <br>
    <input type="text" name="city" placeholder="city" id=""> <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>